# README-preview.md
scripts/temp/*
!scripts/temp/.gitkeep
README.source.xml
.errors.log
partials/temp/*
!partials/temp/.gitkeep
partials/raw/etc/whocc

__pycache__
node_modules
package.json
yarn.lock
temp/
.~lock*


# https://github.com/EticaAI/lexicographi-sine-finibus is cloned here
# Reasoning: use some scripts related to Wikidata data pull
scripts/lexicographi-sine-finibus